# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# These are explicitly windows files and should use crlf
*.bat      text eol=crlf

# Graphics
*.svg      binary
*.ico      binary

# Fonts
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary

# Serialisation
*.yaml     text